<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <title>Info perso</title>
    <meta name="description" content="Une phrase d’environ 170 caractères" />
    <meta
      name="viewport"
      content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- MODAL INFO PERSO-->
    <div id="modalInfoPerso">
      <div class="modal_content">
          <a class="modal_close" href="#"><img class="img_croix_popup" src="./img/croix_close.svg" alt=""></a>
          <!-- <a class="modal-closeInfoPerso" href="#"><i class="fa fa-times" aria-hidden="true"></i></a> -->
          <div class="modalTexte">
              <h2 class="modalTitre">Annulation</h2>
              <hr class="modalTrait">
              <p>En cliquant sur le bouton "quitter cette page", ces informations ne seront pas enregistrées et vos modifications ne seront pas prises en comptes.</p>
          </div>
          <div class="ModalBtnGroup">
              <a href="" id="iu_btnInfoPersoRevenir"class="modal_btn btn_modal_1_trait">Revenir sur la page</a>
              <a href="" id="iu_btnInfoPersoQuitter"class="modal_btn btn_modal_2_fond">Quitter cette page</a>
          </div>
      </div>
    </div>

    <!-- NAV -->
    <nav>
      <div class="navigation">
        <div class="recherche">
          <input id="recherche" type="text" placeholder="RECHERCHER" />
        </div>
        <div class="panier">PANIER (0)</div>
        <div class="menu">
          <div class="trait1"></div>
          <div class="trait2"></div>
        </div>
      </div>
    </nav>

    <!-- CONTENU-->
    <main>
      <div class="lb_container">
        <div class="filtreCategory">
          <button type="submit" class="lb_filtre">Filtrer</button>
          <div class="lb_selectFiltre">
            <select name="lb_categoryFiltre" id="lb_categoryFiltre">
              <option value="1">Toutes les catégories</option>
              <option value="1">Divertissement</option>
              <option value="1">Atelier</option>
            </select>
          </div>
        </div>

        <div class="lb_event">

          <!-- image en backgound -->
          <div class="lb_imageEvent"></div>

          <!-- texte -->
          <div class="lb_eventContainer">
            <div class="lb_numeroEvent">01</div>
            <div class="lb_text">
              <div class="lb_titre">Coconut milk</div>
              <div class="lb_categoryDate">
                <div class="lb_category">Atelier</div>
                <div class="lb_date">29-05-2024</div>
              </div>
            </div>
          </div>
          <div class="lb_reservation">
            <a href="#modalInfoPerso" class="lb_billet">Télécharger le billet</a>
            <a href="" class="lb_consulter">Consulter</a>
          </div>
        </div>
        <div class="lb_event">
          <!-- image en backgound -->
          <div class="lb_imageEvent" id="lb_imageEvent_1"></div>

          <!-- texte -->
          <div class="lb_eventContainer">
            <div class="lb_numeroEvent">01</div>
            <div class="lb_text">
              <div class="lb_titre">Calamar gourmand</div>
              <div class="lb_categoryDate">
                <div class="lb_category">Atelier</div>
                <div class="lb_date">29-05-2024</div>
              </div>
            </div>
          </div>
          <div class="lb_reservation">
            <a href="" class="lb_billet">Télécharger le billet</a>
            <a href="" class="lb_consulter">Consulter</a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
